* {
    box-sizing: border-box;
    background-color: ivory;
}

/* Base Styles -------------------- */


/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
	margin: 0;
}
.main-nav {
	margin: 10% 0;
}
.name, .logo, .main-nav {
	text-align: center;
	display: block;
	padding: 10px 5px;
}
.main-nav a {
	display: block;
	text-decoration: none;
	text-decoration-color: black;
}
.icon {
	text-align: center;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 250px;
    max-width: 300px;
}
.main-nav a {
	font-size: .67em;
	color: black;
	text-transform: uppercase;
	padding: 3px 3px;
	margin: 3px 3px;
	background: crimson;
	border-radius: 3px;
}
.main-nav a:hover {
	color: ivory;
}

/* Hamburger Menu */

.main-nav {
	display: none;
}
.icon {
	display: block;
	position: absolute;
	/* position: initial; */
	width: 15%;
	right: 0;
	top: 0;
}
.icon img{
    width: 100%;
	padding: 10% 10%;
}
.icon img:hover {
	transform: scale(1.25);
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

ul, i, b {
    background: gainsboro;
}

img {
    border-radius: 5%;
}
/* Form Fields -------------------- */


/* Media Queries -------------------- */

