/* Key Frames -------------------- */
@keyframes bordermove1 {
	from {border-top: 10px solid ivory;}
	to {border-top: 10px solid crimson;}
}
@keyframes bordermove2 {
	from {border-right: 10px solid ivory;}
	to {border-right: 10px solid crimson;}
}
@keyframes bordermove3 {
	from {border-bottom: 10px solid ivory;}
	to {border-bottom: 10px solid crimson;}
}
@keyframes bordermove4 {
	from {border-left: 10px solid ivory;}
	to {border-left: 10px solid crimson;}
}

/* Media Queries */
    /* Main-content */
    @media (min-width: 650px) {
        ul {
            margin-bottom: auto;
            width: 275px;
            height: 310px;
            padding: 20px;
            border-radius: 50px 20px;
            /* background-color: honeydew; */
        }
        ul {
            border: 10px solid ivory;
            animation: bordermove1 5s ease 0s 1, bordermove2 5s ease .5s 1, bordermove3 5s ease 1s 1, bordermove4 5s ease 1.5s 1;
            border: 10px solid crimson;
            box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        }
        .main-content {
            padding: 0 0 16px 0;
            border-top: initial;
            border-bottom: initial;
        }
    }
    @media (min-width: 1070px) {
        ul {
            width: 410px;
            height: 225px;
        }
        .main-content {
            padding: 0 0 16px 0;
            border-top: initial;
            border-bottom: initial;
        }
    }

    /* Rolling Pictures -------------------- */
    @media (min-width: 490px) {
        .picfwrd {
            font-size: 1em;
            width: 160px;
            height: 30px;
        }
        .picbwrd {
            width: 45px;
            height: 30px;
        }
        .picbwrd img {
            margin: 0 auto;
            width: 37px;
        }
        .picfwrd, .picbwrd {
            margin: 10px;
        }
        .pictures {
            min-height: 300px;
            margin: 5% auto 5% auto;
        }
        .rarrow {
            display: inline;
            width: 25%;
            position: relative;
            top: 3px;
            left: 0px;
        }
        .larrow {
            display: inline;
            width: 125%;
            position: relative;
            top: 2px;
            left: -8px;
        }
    }
    @media (min-width: 1070px) {
        .picfwrd, .picbwrd {
            margin: 20px;
        }
    }

    /* Form Fields -------------------- */
    @media (min-width: 468px) {
        .formdiv {
            width: 450px;
            margin: 0 auto;
            border: 3px solid rgba(0, 0, 0, 0.5);
        }
        .formwords {
            font-size: 1.2em;
            padding: 1em 1em;
            margin: 0 auto;
            width: 100%;
            max-width: 450px;
            /* border-top: none; */
        }
        .formfield {
            margin: 1em auto;
        }
    }